Repository PaloAltoNetworks/pan.dev, pull requests merged in 2023-08, with the labels that each got.

#465 docs(splunk-docs): Update broken links in troubleshooting guide
  products/splunk/docs/troubleshoot.md
Labels: splunk

#471 Newton: PCCE and PCEE output
  crumbs.json
  docusaurus.config.js
  openapi-specs/compute/22-06/output_openapi_enriched_22_06_228.json
  openapi-specs/compute/30-03/openapi_30_03_122_new.json
  openapi-specs/compute/openapi_31_00_129_pcce.json
  openapi-specs/cwpp/30-03/openapi_30_03_122_saas.json
  openapi-specs/cwpp/openapi_31_00_129_pcee.json
  products/compute/api/22-06/stable-endpoints.md
  products/compute/api/30-03/access-api-self-hosted.md
  products/compute/api/30-03/set-up-console.md
  products/compute/api/30-03/stable-endpoints.md
  products/compute/api/30-03/welcome-prisma-cloud-apis.md
  products/compute/api/stable-endpoints.md
  products/compute/api/welcome-prisma-cloud-apis.md
  products/compute/sidebars.js
  products/prisma-cloud/api/cwpp/30-01/stable-endpoints.md
  products/prisma-cloud/api/cwpp/30-02/stable-endpoints.md
  products/prisma-cloud/api/cwpp/cwpp-home.mdx
  products/prisma-cloud/api/cwpp/stable-endpoints.md
  products/prisma-cloud/sidebars.js
Labels: documentation, DO NOT MERGE, cloud

#484 Renamed Code Sec to App Sec and removed deprecated tag from the two P…
  openapi-specs/code/CheckovVersion.json
  openapi-specs/code/Dashboard.json
  openapi-specs/code/DevelopmentPipeline.json
  openapi-specs/code/Policies.json
  openapi-specs/code/Rules.json
  openapi-specs/code/Scans.json
  openapi-specs/code/SupplyChain.json
  openapi-specs/code/Suppressions.json
  openapi-specs/code/TagRules.json
  products/prisma-cloud/api/code/api-headers.md
  products/prisma-cloud/api/code/basic-request.md
  products/prisma-cloud/api/code/code.md
  products/prisma-cloud/docs/home.md
  products/prisma-cloud/sidebars.js
Labels: documentation
