Repository PaloAltoNetworks/pan.dev, pull requests merged in 2023-06, with the labels that each got.

#371 Update crumbs.json
  crumbs.json
Labels: cloud

#388 docs(Splunk): Remove webinars and videos
  products/splunk/docs/adaptive-response.md
  products/splunk/docs/webinars-and-videos.md
  products/splunk/sidebars.js
Labels: splunk

#392 Checking in Fix for Add Azure Account 404 Error
  openapi-specs/cspm/CloudAccounts.json
Labels: documentation

#405 docs: Intro for EDA on Ansible Landing Page
  products/ansible/eda.png
  products/ansible/landing.mdx
Labels: netsec, ansible
