Repository PaloAltoNetworks/pan.dev, pull requests merged in 2024-07, with the labels that each got.

#700 Cloud Security Public API Documentation Release 24.7.1
  docusaurus.config.js
  openapi-specs/cspm/Alerts.json
  openapi-specs/cspm/AlertsMicroServices.json
  openapi-specs/cspm/AuditLogs.json
  openapi-specs/cspm/CDEMMicroServices.json
  openapi-specs/cspm/UVEDashboardMicroService.json
  openapi-specs/cspm/UVESearchMicroService.json
  openapi-specs/cspm/consolidated_spec/all_endpoints.csv
Labels: documentation, DO NOT MERGE

#705 Cloud Security 24.7.2 API Documentation
  openapi-specs/cspm/AssetExplorer.json
  openapi-specs/cspm/AssetInventory.json
  openapi-specs/cspm/CloudAccountOnboardingMicroServices.json
  openapi-specs/cspm/CloudAccounts(AWS).json
  openapi-specs/cspm/CloudAccounts(All).json
  openapi-specs/cspm/CloudAccounts(Azure).json
  openapi-specs/cspm/CloudAccounts(GCP).json
  openapi-specs/cspm/CloudAccounts(OCIandAlibaba).json
  openapi-specs/cspm/CompliancePosture.json
  openapi-specs/cspm/Policy.json
  openapi-specs/cspm/SearchMicroService.json
  openapi-specs/cspm/UVEDashboardMicroService.json
  openapi-specs/cspm/consolidated_spec/all_endpoints.csv
Labels: DO NOT MERGE, cspm-api-documentation

#704 CSPM Rate Limits: Document Rate Limit response headers
  products/prisma-cloud/api/cspm/ratelimits.md
Labels: documentation, cloud, cspm-api-documentation

#711 Cloud Security 24.7.3 API Documentation
  openapi-specs/cspm/AlertRules.json
  openapi-specs/cspm/AssetMicroService.json
  openapi-specs/cspm/CloudAccountOnboardingMicroServices.json
  openapi-specs/cspm/UVEDashboardMicroService.json
  openapi-specs/cspm/consolidated_spec/all_endpoints.csv
Labels: documentation, cspm-api-documentation
