Repository PaloAltoNetworks/pan.dev, pull requests merged in 2024-09, with the labels that each got.

#738 Cloud Security API 24.9.1
  openapi-specs/cspm/AccountGroups.json
  openapi-specs/cspm/CollectionsMicroservice.json
  openapi-specs/cspm/ResourceLists.json
Labels: cspm-api-documentation

#730 Preview: MSSP Public API
  docusaurus.config.js
  openapi-specs/mssp/adjust-specfile.sh
  openapi-specs/mssp/mssp-spec.json
  openapi-specs/mssp/src/public-filter.jq
  products/prisma-cloud/sidebars.js
Labels: documentation, cloud, prismacloud-api-documentation

#747 Add custom sidebar menu component
  src/components/SidebarMenu/index.js
  src/css/custom.scss
Labels: enhancement
