Repository PaloAltoNetworks/pan.dev, pull requests merged in 2024-11, with the labels that each got.

#737 Data Security Posture Management(DSPM) API Documentation
  docusaurus.config.js
  openapi-specs/dspm/desc/alerts/alerts.md
  openapi-specs/dspm/desc/alerts/alerts_id_status_patch.md
  openapi-specs/dspm/desc/alerts/get.md
  openapi-specs/dspm/desc/assets/assets.md
  openapi-specs/dspm/desc/assets/get.md
  openapi-specs/dspm/desc/assets/id_get.md
  openapi-specs/dspm/desc/classification/asset_fields_id_post.md
  openapi-specs/dspm/desc/classification/asset_files_id_post.md
  openapi-specs/dspm/desc/classification/classification.md
  openapi-specs/dspm/desc/classification/data_types_id_get.md
  openapi-specs/dspm/desc/data-type-findings/data-type-findings.md
  openapi-specs/dspm/desc/data-type-findings/get.md
  openapi-specs/dspm/desc/intro.md
  openapi-specs/dspm/desc/labels/get.md
  openapi-specs/dspm/desc/labels/labels.md
  openapi-specs/dspm/desc/risk-findings/get.md
  openapi-specs/dspm/desc/risk-findings/id_get.md
  openapi-specs/dspm/desc/risk-findings/risk-findings.md
  openapi-specs/dspm/desc/risk-findings/risk-findings_id_status_patch.md
  openapi-specs/dspm/dspm.json
  products/prisma-cloud/api/dspm/access-api.md
  products/prisma-cloud/api/dspm/api-urls.md
  products/prisma-cloud/api/dspm/get-started.md
  products/prisma-cloud/api/dspm/img/api-createkey-1.png
  products/prisma-cloud/api/dspm/img/api-createkey-2.png
  products/prisma-cloud/api/dspm/img/api-createkey-3.png
  products/prisma-cloud/api/dspm/overview.md
  products/prisma-cloud/sidebars.js
Labels: DO NOT MERGE

#768 Add rate limit description notice to AuditLogsMicroservice endpoints
  openapi-specs/cspm/AuditLogsMicroService.json
Labels: documentation, cloud, cspm-api-documentation

#769 Alerts Public API Latest Spec Update
  openapi-specs/cspm/AlertsMicroServices.json
  openapi-specs/cspm/consolidated_spec/all_endpoints.csv
Labels: documentation, cloud, cspm-api-documentation

#764 Preview - AIRS API Ref Docs
  docusaurus.config.js
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
  products/ai-runtime-security/api/airuntimesecurityapi.md
  products/ai-runtime-security/api/usecases.md
  products/ai-runtime-security/docs/home.mdx
  products/ai-runtime-security/sidebars.js
  static/swfw/manage-api-security-profiles.png
Labels: AI Runtime Security

#772 RLP_151624 changes
  products/prisma-cloud/api/cspm/api-integration-config.md
Labels: cloud, cspm-api-documentation

#778 AIRS APIs: Update description and blur image
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
  products/ai-runtime-security/api/airuntimesecurityapi.md
  products/ai-runtime-security/api/usecases.md
  static/swfw/manage-api-security-profiles.png
Labels: AI Runtime Security

#770 Action Plan API Public Preview
  docusaurus.config.js
  openapi-specs/action-plan/arya-action-plan.yml
  products/prisma-cloud/sidebars.js
Labels: documentation, prismacloud-api-documentation
