Repository PaloAltoNetworks/pan.dev, pull requests merged in 2025-01, with the labels that each got.

#810 [UI Enhancement] Add carousel to SCM Landing Page
  src/pages/strata-cloud-manager/index.js
  src/pages/strata-cloud-manager/scm.scss
  static/img/scm-landing/slider-1.png
  static/img/scm-landing/slider-2.png
  static/img/scm-landing/slider-3.png
Labels: enhancement

#814 RLP-153906 Get Policy Remediation endpoint
  openapi-specs/cspm/consolidated_spec/all_endpoints.csv
  openapi-specs/cspm/pia-openapi.json
Labels: cloud, cspm-api-documentation, prismacloud-api-documentation

#823 RLP-153906 Description updates for Get Policy Remediation Endpoint
  openapi-specs/cspm/pia-openapi.json
Labels: cspm-api-documentation
