Repository PaloAltoNetworks/pan.dev, pull requests merged in 2025-05, with the labels that each got.

#892 Upgrade OpenAPI plugin to v4.4.0
  package.json
  src/theme/Schema/index.tsx
  yarn.lock
Labels: bug, DO NOT MERGE

#894 CVE Coverage
  openapi-specs/threat-vault/ThreatPrevention.yaml
  products/cdss/docs/release-notes/changelog.md
  products/cdss/sidebars.ts
  products/threat-vault/docs/examples/get-cve-coverage-information.mdx
  products/threat-vault/docs/response-fields/threat-vault-response-fields.mdx
Labels: DO NOT MERGE

#898 Update API Schema for new Detections
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
Labels: DO NOT MERGE, AI Runtime Security

#900 Update API region support for EU only
  products/ai-runtime-security/api/airuntimesecurityapi.md
  products/ai-runtime-security/api/usecases.md
Labels: AI Runtime Security

#901 Add EU API support
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
  products/ai-runtime-security/api/airuntimesecurityapi.md
  products/ai-runtime-security/api/pythonsdk.md
  products/ai-runtime-security/api/pythonsdkusage.md
  products/ai-runtime-security/api/usecases.md
  products/ai-runtime-security/sidebars.ts
Labels: AI Runtime Security

#908 Add installation guide links
  products/ai-runtime-security/api/pythonsdk.md
  products/ai-runtime-security/api/pythonsdkusage.md
Labels: AI Runtime Security
