Repository PaloAltoNetworks/pan.dev, pull requests merged in 2025-03, with the labels that each got.

#853 RLP-154524 Add heuristicSearch field to SearchMicroService schemas Co…
  openapi-specs/cspm/SearchMicroService.json
Labels: cloud, cspm-api-documentation

#850 Update the use case to indicate optional field
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
  products/ai-runtime-security/api/usecases.md
Labels: AI Runtime Security

#855 Add toxic content schema and use case
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
  products/ai-runtime-security/api/usecases.md
  static/swfw/manage-api-security-profiles.png
Labels: AI Runtime Security

#856 Airs malicious code
  openapi-specs/ai-runtime-security/scan/ScanService.yaml
  products/ai-runtime-security/api/usecases.md
Labels: AI Runtime Security

#863 Pin GitHub Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-preview.yml
Labels: review

#862 RLP-155440 add detailed boolean response details to alerts endpoints
  openapi-specs/cspm/Alerts.json
Labels: cloud, cspm-api-documentation

#865 Update Cortex docs link in mega-nav and landing page
  docusaurus.config.ts
  yarn.lock
Labels: contributing

#866 Disable pointer events for copy icons
  src/components/CopyButton/index.js
  src/components/CopyButton/styles.css
Labels: contributing
