Repository PaloAltoNetworks/pan.dev, changes with the owners that CODEOWNERS names for each.
All owners: @PaloAltoNetworks/pan-dev, @PaloAltoNetworks/pan-dev-sase, @PaloAltoNetworks/design-hive

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
Owners: none

checking in updated CloudAccounts file
  openapi-specs/cspm/CloudAccounts.json
Owners: none

checking in updated CloudAccounts file
  openapi-specs/cspm/CloudAccounts.json
Owners: none

docs(Splunk): Remove webinars and videos (#388)
  products/splunk/docs/adaptive-response.md
  products/splunk/docs/webinars-and-videos.md
  products/splunk/sidebars.js
Owners: @PaloAltoNetworks/design-hive

docs(Splunk): Remove webinars and videos (#388)
  products/splunk/docs/adaptive-response.md
  products/splunk/docs/webinars-and-videos.md
  products/splunk/sidebars.js
Owners: @PaloAltoNetworks/design-hive

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
Owners: none

initial commit of aiops work
  crumbs.json
  docusaurus.config.js
  products/aiops/api/bpasecurityapioverview.md
  products/aiops/sidebars.js
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
  products/panos/docs/panos-upgrade-assurance/installation.mdx
Owners: none

light/dark mode edits, swfw card enhancements, and text edits on swfw page
  src/constants/swfw/index.js
  src/pages/swfw.scss
Owners: none

light/dark mode edits, swfw card enhancements, and text edits on swfw page
  src/constants/swfw/index.js
  src/pages/swfw.scss
Owners: none

Maxwell Update 2: Output
  crumbs.json
  docusaurus.config.js
  openapi-specs/compute/30-01/openapi_30_01_153.json
  openapi-specs/compute/openapi_enriched_selfhosted_sorted.json
  openapi-specs/cwpp/30-01/openapi_30_01_152.json
  openapi-specs/cwpp/openapi_enriched_saas_sorted.json
  package.json
  products/compute/api/30-01/stable-endpoints.md
  products/compute/api/stable-endpoints.md
  products/compute/api/welcome-prisma-cloud-apis.md
  products/compute/sidebars.js
  products/prisma-cloud/api/cwpp/30-01/stable-endpoints.md
  products/prisma-cloud/api/cwpp/cwpp-home.mdx
  products/prisma-cloud/sidebars.js
Owners: @PaloAltoNetworks/pan-dev

Maxwell Update 2: Output
  crumbs.json
  docusaurus.config.js
  openapi-specs/compute/30-01/openapi_30_01_153.json
  openapi-specs/compute/openapi_enriched_selfhosted_sorted.json
  openapi-specs/cwpp/30-01/openapi_30_01_152.json
  openapi-specs/cwpp/openapi_enriched_saas_sorted.json
  package.json
  products/compute/api/30-01/stable-endpoints.md
  products/compute/api/stable-endpoints.md
  products/compute/api/welcome-prisma-cloud-apis.md
  products/compute/sidebars.js
  products/prisma-cloud/api/cwpp/30-01/stable-endpoints.md
  products/prisma-cloud/api/cwpp/cwpp-home.mdx
  products/prisma-cloud/sidebars.js
Owners: @PaloAltoNetworks/pan-dev

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/check_firewall.md
  products/panos/docs/panos-upgrade-assurance/api/exceptions.md
  products/panos/docs/panos-upgrade-assurance/api/firewall_proxy.md
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
  products/panos/docs/panos-upgrade-assurance/api/utils.md
  products/panos/docs/panos-upgrade-assurance/installation.mdx
  products/panos/docs/panos-upgrade-assurance/overview.mdx
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/check_firewall.md
  products/panos/docs/panos-upgrade-assurance/api/exceptions.md
  products/panos/docs/panos-upgrade-assurance/api/firewall_proxy.md
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
  products/panos/docs/panos-upgrade-assurance/api/utils.md
  products/panos/docs/panos-upgrade-assurance/configuration_details.mdx
  products/panos/docs/panos-upgrade-assurance/installation.mdx
  products/panos/docs/panos-upgrade-assurance/overview.mdx
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/check_firewall.md
  products/panos/docs/panos-upgrade-assurance/api/exceptions.md
  products/panos/docs/panos-upgrade-assurance/api/firewall_proxy.md
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
  products/panos/docs/panos-upgrade-assurance/api/utils.md
  products/panos/docs/panos-upgrade-assurance/installation.mdx
  products/panos/docs/panos-upgrade-assurance/overview.mdx
Owners: none

docs: PanOS Upgrade Assurance documentation update
  products/panos/docs/panos-upgrade-assurance/api/check_firewall.md
  products/panos/docs/panos-upgrade-assurance/api/exceptions.md
  products/panos/docs/panos-upgrade-assurance/api/firewall_proxy.md
  products/panos/docs/panos-upgrade-assurance/api/sidebar.json
  products/panos/docs/panos-upgrade-assurance/api/snapshot_compare.md
  products/panos/docs/panos-upgrade-assurance/api/utils.md
  products/panos/docs/panos-upgrade-assurance/installation.mdx
  products/panos/docs/panos-upgrade-assurance/overview.mdx
Owners: none

Update stable-endpoints.md
  products/prisma-cloud/api/cwpp/stable-endpoints.md
Owners: none

Update stable-endpoints.md
  products/prisma-cloud/api/cwpp/stable-endpoints.md
Owners: none

Updates for Maxwell Update 2
  openapi-specs/compute/openapi_enriched_selfhosted_sorted.json
  openapi-specs/cwpp/openapi_enriched_saas_sorted.json
Owners: none

Updates for Maxwell Update 2
  openapi-specs/compute/openapi_enriched_selfhosted_sorted.json
  openapi-specs/cwpp/openapi_enriched_saas_sorted.json
Owners: none

aiops changes
  docusaurus.config.js
  openapi-specs/aiops/BPAReportAPI.yaml
  products/aiops/api/bpasecurityapioverview.md
Owners: none

docs: Intro for EDA
  products/ansible/eda.png
  products/ansible/landing.mdx
Owners: @PaloAltoNetworks/design-hive

CODEOWNERS:

# pan.dev Admins
src/* @PaloAltoNetworks/pan-dev
package.json @PaloAltoNetworks/pan-dev
.github/* @PaloAltoNetworks/pan-dev
firebase.json @PaloAltoNetworks/pan-dev

# pan.dev SASE team
products/sase/* @PaloAltoNetworks/pan-dev-sase
openapi-specs/sase/* @PaloAltoNetworks/pan-dev-sase

# pan.dev PAN-OS and Everything-as-code team
products/terraform/* @PaloAltoNetworks/design-hive
products/ansible/* @PaloAltoNetworks/design-hive
products/panos/* @PaloAltoNetworks/design-hive
products/splunk/* @PaloAltoNetworks/design-hive
